.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    #1d1d1f 40%,
    #1d1d1fba 60%,
    #1d1d1f7d 80%,
    #1d1d1f38 90%,
    #1d1d1f00
  );
  z-index: 1;
  ul {
    display: flex;
    justify-content: flex-end;
    li a {
      padding: 10px 20px;
      background: #1d1d1f;
      border: 1px solid #ffffff0f;
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
      &:hover {
        background: white;
        color: #1d1d1f;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: linear-gradient(
    to top,
    #1d1d1f 40%,
    #1d1d1fba 60%,
    #1d1d1f7d 80%,
    #1d1d1f38 90%,
    #1d1d1f00
  );
  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.imageContainer {
  position: relative;
  width: 400px;
  height: 300px;
  margin: auto;
  border-radius: 12px;
  span {
    border-radius: 12px;
  }
  img {
    background: white; // for if the image isn't loading in time
    border: 1px solid #ffffff0f;
  }
}

.section {
  display: grid;
  width: 100%;
  min-height: 80vh;
  gap: 10px;
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.profilePicContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  > span {
    border: 10px solid #1d1d1f;
    border-radius: 100px;
    margin: auto;
  }
  img {
    border-radius: 228px;
  }
}

.profileLinks {
  display: grid;
  width: 300px;
  margin: 10px auto;
}
.profileLink {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ffffff0f;
  border-radius: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  svg {
    margin-right: 10px;
  }
}
.portfolioSection {
  display: grid;
  padding: 10px 0 20px;
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.button {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background: #1d1d1f;
  color: white;
  border: 1px solid #ffffff0f;
  border-radius: 10px;
  margin: 10px auto 10px 0;
  svg {
    margin-left: 10px;
  }
  path {
    color: white;
    stroke: white;
  }
  // &:hover {
  //   background: #1d1d1f;
  //   color: white;
  // }
}

.tag {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ffffff0f;
  background: white;
  color: #1d1d1f;
  border-radius: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.socmedtag {
  display: inline-block;
  border: 1px solid #ffffff0f;
  padding: 5px;
  padding-bottom: 0;
  border-radius: 10px;
  margin: 5px;
}

// tiles
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: visible;

  @media screen and (min-width: 800px) {
    padding-top: 90px;
  }
  > svg {
    transition: all 0.7s;
    font-size: 50px;
    padding: 5px;
    overflow: visible;
    cursor: pointer;
    &:hover {
      font-size: 60px;
      margin-left: -5px;
      margin-right: -5px;
      margin-top: -5px;
      margin-bottom: -10px;
      padding: 0;
      > path {
        filter: drop-shadow(0px 0px 4px #0ff);
      }
    }
  }
  > path {
    transition: all 0.6s;
    filter: drop-shadow(0px 0px 0px #fff);
    color: #ffffff;
  }
  > div {
    border: 1px solid #ffffff0f;
    width: 100px;
    text-align: center;
    padding: 10px;
  }
}
.tile {
  // .front{}
  // .back{}
}

// .hexagon {
//   height: 100%;
//   width: 100;
//   width: 120px;
//   /* background: blue; */
//   transform: rotate(0deg);
//   /* position: relative; */
//   overflow-x: clip;
//   overflow-y: visible;
//   transform: scaleX(1.2);
//   &:hover {
//     // transform: scaleX(1.4);
//     transform: scaleY(1.2);
//   }
//   > div {
//     height: 120px;
//     width: 100;
//     width: 120px;
//     background: blue;
//     transform: rotate(45deg);
//     /* position: absolute; */
//     margin-left: 0px;
//   }
// }
